/*----------
Portfolio styles
----------*/
/* 
Mixin for border-radius 
"$border" represents value for borders*/
/* 
Mixin for font-size 
include both rem and pixels fallback
"$size" variable represents font-size value in pixels, don't add "px" */
/* Mixin for box-sizing 
"$box-style" represents value of this property */
/* Mixin for transparency
Include fallback for older browsers
"$color" represents the color to use (HEX, RGB, HSL...)
"$opacity" represents opacity of color (0.0 - 1.0) */
/*Mixin for calculate width based on the grid
"$column-widths" represents quantity of columns of the grid */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #A7C5C5;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-size: 36px;
  font-size: 3.6rem;
  margin: 0 auto 30px;
}

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 auto 30px;
}

.content {
  margin: 0 auto;
  max-width: 980px;
}

.hide {
  text-indent: -100%;
  display: none;
}

.about-me,
.banner,
.contact,
.projects,
.skills,
.social-networks {
  margin-bottom: 50px;
}

.center-items {
  width: 71.42857%;
  overflow: hidden;
  margin: 0 auto;
}

.skills .center-items > :first-child,
.social-networks .center-items > :first-child {
  margin-left: 0;
  padding-right: 72px;
}
.skills .center-items > :last-child,
.social-networks .center-items > :last-child {
  margin-right: 0;
  padding-left: 72px;
}

.title {
  font-weight: 100;
  text-align: center;
  color: #FFF;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog img {
  width: 100%;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 50%;
  position: relative;
  margin: 2% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modal-close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.modal-close:hover {
  background-color: #43b8c9;
}

.banner {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 700px;
  background: transparent url("../img/bannerBG.png") no-repeat scroll 0% 50%;
}
.banner .banner-text {
  color: #FFF;
  position: relative;
  background-color: #000;
  opacity: 0.7;
  line-height: 1.8;
  margin: 310px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.banner .banner-background {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 0px;
}

.skills .icons,
.skills .description {
  overflow: hidden;
}
.skills .icon {
  height: 300px;
  overflow: hidden;
  float: left;
  padding: 2%;
  margin-left: 5%;
}
.skills .skill-description {
  width: 27%;
  border-radius: 5%;
  height: 300px;
  display: inline-block;
  padding: 2%;
  background-color: #43b8c9;
  color: #FFF;
  margin: 15px 0px 30px 48px;
  overflow: hidden;
  line-height: 28px;
  font-size: 1.8rem;
  float: left;
}
.skills .skill-description:hover {
  background-color: #FFF;
  border: 2px solid #43b8c9;
  color: #43b8c9;
  transition: background-color 400ms ease-in;
}
.skills:hover .title {
  color: #43b8c9;
}

.about-me {
  background: url("../img/aboutBG.png") no-repeat top center #000;
  height: 715px;
}
.about-me .title {
  color: #FFF;
  padding-top: 50px;
}

.about-me-info {
  line-height: 40px;
  margin-top: 5%;
  padding: 70px;
  background-color: rgba(10, 10, 10, 0.5);
  color: #43b8c9;
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 100;
  line-height: 40px;
}
.about-me-info:after {
  content: close-quote;
}
.about-me-info:before {
  content: open-quote;
}

.latest-projects {
  overflow: hidden;
}

.image-responsive {
  width: 100%;
  height: 235px;
}

.project {
  float: left;
  width: 30%;
  margin-left: 13.5%;
  margin-top: 4%;
  background-color: #43b8c9;
  border: 1px solid #43b8c9;
  border-radius: 30px;
  color: #FFF;
}
.project:hover {
  background-color: #FFF;
  color: #43b8c9;
  transition: background-color 400ms ease-in;
}
.project:hover .title {
  color: #43b8c9;
}

.project-info {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.project .title {
  font-size: 22px;
}

.contact {
  width: 42.85714%;
}

label {
  color: #5A5A5A;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 2px;
}

input, textarea {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif;
  background: #F0F0F0;
  border: none;
  color: #5A5A5A;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 158px;
  resize: none;
}

::-webkit-input-placeholder {
  color: #B4B4B4;
}

:-moz-placeholder {
  color: #B4B4B4;
  opacity: 1;
}

::-moz-placeholder {
  color: #B4B4B4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #B4B4B4;
}

.submit-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: 700;
  background: #43b8c9;
  border: 2px solid #43b8c9;
  color: #FFF;
  max-width: 140px;
  cursor: pointer;
}
.submit-button:hover {
  background: #FFF;
  color: #43b8c9;
}

.main-footer {
  background: #5A5A5A;
  padding: 20px 0 10px;
}
.main-footer .title {
  margin: 0;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
