html {
	@include box-sizing(border-box);
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: $font-family;
  background: transparent radial-gradient(#000, #4D4D4D) repeat scroll 0% 0%;
}

*,
*:before,
*:after {
  @include box-sizing(inherit);
}

//Remove default decoration unnesesary
a,
a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

//Headings size and margins
h2 {
	@include font-size(36);
	margin: 0 auto 30px;
}

h5 {
	@include font-size(14);
	margin: 0 auto 30px;
}


