// Align content to center of  the window
.content {
	margin: 0 auto;
	max-width: $grid-width;
}

// Hide
.hide {
	display: none;
}

// Basic layout rules
.about-me,
.banner,
.contact,
.projects,
.skills,
.social-networks {
	margin-bottom: 50px;
}

// Align elements to center
.center-items {
	@include width-grid-based(5);
	overflow: hidden;
	margin: 0 auto;
}

// Removing margins
.skills .center-items,
.social-networks .center-items {
	&>:first-child {
		margin-left: 0;
    padding-right: 72px;
	}
	&>:last-child {
		margin-right: 0;
    padding-left: 72px;
	}
}


// Main banner section
.banner {
  width: 100%;
	height: 700px;
  position: relative;
  overflow: hidden;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 700px;
  background: transparent url("../img/bannerBG.png") no-repeat scroll 0% 50%;
	.banner-text {
		color: $primary;
    position: relative;
    @include transparency($transparent-background, 0.7);
    line-height: 1.8;
    margin: 310px;
    @include border-radius(20px);
	}
  .banner-background {
    z-index: 0;
    width: 100%;
    position: absolute;
    top: 0px;
  }
}


// Skills section 
.skills{
  .icons,
  .description {
  overflow: hidden;
  }
  .icon{
    height: 300px;
    overflow: hidden;
    float: left;
    padding: 2%;
    margin-left: 5%;
  }
  .skill-description {
  width: 27%;
  border-radius: 5%;
  height: 300px;
  display: inline-block;
  padding: 2%;
  background-color: rgb(67, 184, 201);
  color: $primary;
  margin: 15px 0px 30px 48px;
  overflow: hidden;
  line-height: 28px;
  font-size: 1.8rem;
  float: left;
  &:hover{
    background-color: $primary;
    border: 2px solid $secundary;
    color: $secundary;
    }
  }
}


// About-me section 
.about-me {
	background: url("../img/aboutBG.png") no-repeat top center #000;
  height: 715px;
	.title {
		color: $primary;
    padding-top: 50px;
	}
}

.about-me-info {
  line-height: 40px;
  margin-top: 5%;
  padding: 70px;
  background-color: rgba(10,10,10,0.5);
	color: $secundary;
	@include font-size(18);
	font-style: italic;
	font-weight: 100;
	line-height: 40px;
	&:after {
		content: close-quote;
	}
	&:before {
		content: open-quote;
	}
}

// Titles rules
.title {
	font-weight: 100;
	text-align: center;
	color: $primary;
}

// Contact rules
.contact {
	width: ((3*$column-width)/$grid-width)*100%;
}
