// Align content to center of  the window
.content {
	margin: 0 auto;
	max-width: $grid-width;
}

// Hide
.hide {
  text-indent: -100%;
  display: none;
}

// Basic layout rules
.about-me,
.banner,
.contact,
.projects,
.skills,
.social-networks {
	margin-bottom: 50px;
}

// Align elements to center
.center-items {
	@include width-grid-based(5);
	overflow: hidden;
	margin: 0 auto;
}

// Removing margins
.skills .center-items,
.social-networks .center-items {
	&>:first-child {
		margin-left: 0;
    padding-right: 72px;
	}
	&>:last-child {
		margin-right: 0;
    padding-left: 72px;
	}
}

// Titles rules
.title {
    font-weight: 100;
    text-align: center;
    color: $primary;
}

// Modals
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    img {
      width: 100%;
    }
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 50%;
  position: relative;
  margin: 2% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modal-close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  &:hover {
    background-color: $secundary;
  }
}


// Main banner section
.banner {
  width: 100%;
	height: 700px;
  position: relative;
  overflow: hidden;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 700px;
  background: transparent url("../img/bannerBG.png") no-repeat scroll 0% 50%;
	.banner-text {
		color: $primary;
    position: relative;
    @include transparency($transparent-background, 0.7);
    line-height: 1.8;
    margin: 310px;
    @include border-radius(20px);
	}
  .banner-background {
    z-index: 0;
    width: 100%;
    position: absolute;
    top: 0px;
  }
}


// Skills section 
.skills{
  .icons,
  .description {
  overflow: hidden;
  }
  .icon{
    height: 300px;
    overflow: hidden;
    float: left;
    padding: 2%;
    margin-left: 5%;
  }
  .skill-description {
  width: 27%;
  border-radius: 5%;
  height: 300px;
  display: inline-block;
  padding: 2%;
  background-color: rgb(67, 184, 201);
  color: $primary;
  margin: 15px 0px 30px 48px;
  overflow: hidden;
  line-height: 28px;
  font-size: 1.8rem;
  float: left;
  &:hover {
    background-color: $primary;
    border: 2px solid $secundary;
    color: $secundary;
    transition: background-color 400ms ease-in;
    }
  }
  &:hover .title {
    color: $secundary;
  }
}


// About-me section 
.about-me {
	background: url("../img/aboutBG.png") no-repeat top center #000;
  height: 715px;
	.title {
		color: $primary;
    padding-top: 50px;
	}
}

.about-me-info {
  line-height: 40px;
  margin-top: 5%;
  padding: 70px;
  background-color: rgba(10,10,10,0.5);
	color: $secundary;
	@include font-size(18);
	font-style: italic;
	font-weight: 100;
	line-height: 40px;
	&:after {
		content: close-quote;
	}
	&:before {
		content: open-quote;
	}
}

// Projects section
.latest-projects {
  overflow: hidden;
}

.image-responsive {
  width: 100%;
  height: 235px;
}

.project {
  float: left;
  width: 30%;
  margin-left: 13.5%;
  margin-top: 4%;
  background-color: $secundary;
  border: 1px solid $secundary;
  border-radius: 30px;
  color: $primary;
  &:hover {
    background-color: $primary;
    color: $secundary;
    transition: background-color 400ms ease-in;
  }
  &:hover .title{
    color: $secundary;
  }
}

.project-info {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.project .title {
  font-size: 22px;
}

// Contact rules
.contact {
	width: ((3*$column-width)/$grid-width)*100%;
}


