/* 
Mixin for border-radius 
"$border" represents value for borders*/
@mixin border-radius($border) {
	-webkit-border-radius: ($border);
	-moz-border-radius: ($border);
	border-radius: ($border);
}


/* 
Mixin for font-size 
include both rem and pixels fallback
"$size" variable represents font-size value in pixels, don't add "px" */
@mixin font-size($size) {
	font-size: $size+px;
	font-size: ($size/10)+rem;
}


/* Mixin for box-sizing 
"$box-style" represents value of this property */
@mixin box-sizing($box-style) {
	-webkit-box-sizing: $box-style;
	-moz-box-sizing: $box-style;
	box-sizing: $box-style;
}


/* Mixin for transparency
Include fallback for older browsers
"$color" represents the color to use (HEX, RGB, HSL...)
"$opacity" represents opacity of color (0.0 - 1.0) */
@mixin transparency ($color, $opacity) {
	background-color: $color; 
	opacity: $opacity;
}


/*Mixin for calculate width based on the grid
"$column-widths" represents quantity of columns of the grid */
@mixin width-grid-based($column-widths) {
	width: (($column-widths*$column-width)/$grid-width)*100%;
}
