//Colors variables
$primary: #FFF;
$secundary: rgb(67, 184, 201);
$form-secundary: #F0F0F0;
$form-primary: #5A5A5A;


//layout sizes variables
$grid-width: 980px;
$grid-columns: 7;
$column-width: $grid-width/$grid-columns;

//fonts variables
$font-family: "Open Sans", Arial, sans-serif;
